# EDA with snowfall data

### Import modules

In [1]:
import pandas as pd

### Read in .csv into Pandas DataFrame
- Data: Texas A&M Univ Southern Regional Climate Center's [Climate Data Portal](https://www.srcc.tamu.edu/climate_data_portal/?product=annual_summaries)
- Station: Nashville Intl Airport (BNA)
- Daily Lister from 01/01/1988 to 11/30/2021

In [7]:
snow_df = pd.read_csv('../data/tamu_snow.csv')

In [11]:
snow_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12037 entries, 0 to 12036
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    12037 non-null  datetime64[ns]
 1   maxt    12037 non-null  int64
 2   mint    12037 non-null  int64
 3   avgt    12037 non-null  float64
 4   pcpn    12037 non-null  object
 5   snow    12037 non-null  float64
 6   snwd    12037 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(2), object(2)
memory usage: 658.4+ KB

In [9]:
snow_df.head()

         Date  maxt  mint  avgt  pcpn  snow snwd
0  1988-01-01    41    27  34.0  0.03   0.0    0
1  1988-01-02    39    20  29.5  0.00   0.0    0
2  1988-01-03    41    27  34.0     T   0.1    0
3  1988-01-04    39    20  29.5  0.00   0.0    0
4  1988-01-05    24    13  18.5  0.00   0.0    0

### Convert Date column to datetime datatype

In [10]:
snow_df['Date'] = pd.to_datetime(
    snow_df['Date'], 
    errors = 'coerce'
)