### Import modules

In [1]:
import pandas as pd

### Read in .csv into Pandas DataFrame
- Data: Texas A&M Univ Southern Regional Climate Center's [Climate Data Portal](https://www.srcc.tamu.edu/climate_data_portal/?product=annual_summaries)
- Station: BNA
- Daily Lister from 01/01/1988 to 11/30/2021

In [4]:
daily_df = pd.read_csv('../data/daily_lister_stn_13897.csv', skiprows=6)

In [6]:
daily_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12388 entries, 0 to 12387
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    12388 non-null  object
 1   maxt    12388 non-null  int64
 2   mint    12388 non-null  int64
 3   avgt    12388 non-null  float64
 4   pcpn    12388 non-null  object
 5   snow    12388 non-null  object
 6   snwd    12388 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 677.6+ KB

In [8]:
daily_df.head()

         Date  maxt  mint  avgt  pcpn snow snwd
0  1988-01-01    41    27  34.0  0.03  0.0    0
1  1988-01-02    39    20  29.5  0.00  0.0    0
2  1988-01-03    41    27  34.0     T  0.1    0
3  1988-01-04    39    20  29.5  0.00  0.0    0
4  1988-01-05    24    13  18.5  0.00  0.0    0

### Prepare DataFrame for EDA

In [38]:
#daily_df.pcpn.value_counts()
#daily_df.snow.value_counts()
#daily_df.snwd.value_counts()

In [39]:
# Take pcpn, snow, and snwd columns, convert to numeric, convert errors to null, and only return notnull values.
pcpn_df = daily_df[pd.to_numeric(daily_df['pcpn'], errors='coerce').notnull()]
snow_df = daily_df[pd.to_numeric(daily_df['snow'], errors='coerce').notnull()]
snwd_df = daily_df[pd.to_numeric(daily_df['snwd'], errors='coerce').notnull()]

In [40]:
# Export to .csv
pcpn_df.to_csv('../data/pcpn.csv', index = False)
snow_df.to_csv('../data/snow.csv', index = False)
snwd_df.to_csv('../data/snwd.csv', index = False)